/* Circles */
#item {
  background-color: #DDD;
  padding:15px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  height: 125px;;
  margin: 15px;
}
/* Boxes */
#item2 {
  background-color: #DDD;
  border: 1px solid #999;
  height: 400px;
  padding:15px;
}

#footer {
  background-color: #028793;
  height: 200px;
}
